.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0.5rem 1rem;
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navbar a:hover {
  color: #00bfff;
}
